# ANOVA(ANalysis Of VAriance) Test

###### Used to compare differences of means among more than 2 groups.

### F Value :-

### F = sample means of between groups / sample means of within groups

#

#

### One-Way ANOVA

In [1]:
# Example : ANOVA Test for fertilizers effectiveness.

# Scenario : 30 plants each are tested on 3 fertilizers A,B and C. Heights of plants are measured after a certain period.

# (Null Hypothesis) Ho : There is no significant difference in plant growth among the three type of fertilizers.

# (Alternate Hypothesis) Ha : Atleast one fertilizer type significantly affects plant growth.

In [1]:
import numpy as np
from scipy.stats import f_oneway

In [15]:
# Heights of plants for each fertilizer group.

fertilizer_a = np.array([15.2, 16.5, 14.8, 17.3, 15.9, 16.1, 17.8, 15.6, 16.4, 14.7, 
                         16.8, 16.2, 16.7, 15.5, 16.6, 16.0, 15.9, 15.3, 16.5, 16.9,
                         15.7, 16.3, 15.8, 17.1, 15.4, 16.5, 16.2, 17.0, 15.1, 16.4])

fertilizer_b = np.array([14.3, 13.8, 13.5, 14.7, 13.9, 14.5, 14.0, 14.9, 13.7, 14.4, 
                         14.2, 14.6, 14.1, 13.6, 14.3, 14.8, 14.2, 14.5, 14.7, 13.9,
                         14.4, 13.8, 14.6, 14.1, 13.5, 14.1, 13.7, 14.0, 14.3, 14.5])

fertilizer_c = np.array([17.5, 18.3, 17.0, 18.6, 17.9, 17.2, 18.1, 17.7, 18.0, 17.3, 
                         17.8, 18.2, 17.4, 18.5, 17.6, 18.4, 18.1, 17.1, 18.2, 18.3,
                         17.8, 18.0, 17.9, 18.1, 17.7, 18.2, 18.6, 17.5, 18.3, 18.4])

print ("mean height of plants (fertilizer A) = ", fertilizer_a.mean())
print ("\nmean height of plants (fertilizer B) = ", fertilizer_b.mean())xx
print ("\nmean height of plants (fertilizer C) = ", fertilizer_c.mean())

mean height of plants (fertilizer A) =  16.14

mean height of plants (fertilizer B) =  14.186666666666667

mean height of plants (fertilizer C) =  17.923333333333332

In [11]:
# performing one-way ANOVA

f_statistic , p_value = f_oneway(fertilizer_a, fertilizer_b, fertilizer_c)

# Interpretting the results :-

alpha = 0.05

if p_value < 0.05 :
    
    print("Reject the null hypothesis : There is a significant difference in the plant growth among the fertilizers.")
    
else : 
    
    print("Failed to reject the null hypothesis. There is no significant difference in the plant growth among any fertilizers ")

Reject the null hypothesis : There is a significant difference in the plant growth among the fertilizers.

In [12]:
print("p value = ",p_value)

p value =  3.9273100346569484e-42

### 
###
###
### Two-way ANOVA

In [5]:
import pandas as pd

data = {'Diet' : ['low carb','low carb', 'low carb', 'balanced', 'balanced', 'balanced', 'low fat','low fat','low fat'],
        'Exercise' : ['sedentary','moderate','active','sedentary','moderate','active','sedentary','moderate','active'],
        'Weight_loss' : [2.3,3.1,4.2,1.5,2.0,2.8,1,1.2,1.5]}

df=pd.DataFrame(data)

df

       Diet   Exercise  Weight_loss
0  low carb  sedentary          2.3
1  low carb   moderate          3.1
2  low carb     active          4.2
3  balanced  sedentary          1.5
4  balanced   moderate          2.0
5  balanced     active          2.8
6   low fat  sedentary          1.0
7   low fat   moderate          1.2
8   low fat     active          1.5

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols                                       # ols = ordinary least square method

# Fit Two-way ANOVA

model = ols('Weight_loss~Diet + Exercise',data=df).fit()
anova_table = sm.stats.anova_lm(model)                                        # lm = linear model
print(anova_table)

           df    sum_sq   mean_sq          F    PR(>F)
Diet      2.0  5.828889  2.914444  23.419643  0.006190
Exercise  2.0  2.308889  1.154444   9.276786  0.031455
Residual  4.0  0.497778  0.124444        NaN       NaN

In [7]:
# Conclusion

# For Diet : p value = 0.006 < 0.05 , thus we reject the null hypothesis, which means weight loss is affected by diet.

# For Exercise : p value = 0.03 < 0.05 , thus we reject the null hypothesis, which means weight loss is affected by exercise.

# considering both the factors, Diet and Exercise : p value = (0.006+0.03) = 0.036 < 0.05 , 
# thus we reject the null hypothesis, which means weight loss is affected by both the factors, diet and exercise.

### 
###
###
### Nested ANOVA

In [8]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# creating df

data = {'School' : ['A','A','B','B','B','C','C','C','C'],
        'Instructor' : ['X','Y','X','Y','Z','Y','Z','X','Z'],
        'Exam_score' : [85,88,82,89,86,90,91,85,88]}

df = pd.DataFrame(data)
df

  School Instructor  Exam_score
0      A          X          85
1      A          Y          88
2      B          X          82
3      B          Y          89
4      B          Z          86
5      C          Y          90
6      C          Z          91
7      C          X          85
8      C          Z          88

In [9]:
# Fit Nested ANOVA model

model = ols('Exam_score ~ School + Instructor + School:Instructor',data=df).fit()

anova_table = sm.stats.anova_lm(model)
print(anova_table)

                    df     sum_sq    mean_sq         F    PR(>F)
School             2.0  14.722222   7.361111  1.635802  0.483843
Instructor         2.0  40.766667  20.383333  4.529630  0.315295
School:Instructor  4.0   9.400000   2.350000  0.522222  0.761372
Residual           1.0   4.500000   4.500000       NaN       NaN

In [ ]:
# Conclusion

# For School : p value = 0.48 > 0.05 ,thus we failed to reject the null hypothesis, 
                                      # which means exam scores are not affected by school.
    
    
# For Instructor : p value = 0.31 > 0.05 , thus we failed to reject the null hypothesis,
                                           # which means exam scores are not affected by instructors.
    
    
# For School and Instructor : p value = 0.76 > 0.05 , thus we failed to reject the null hypothesis,
                                                  # which means exam scores are not affected by school as well as instructor.